@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins&display=swap');

* {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Karla',
    sans-serif;
  /* font-family: 'Poppins',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}